<div class="header bg-gradient-danger pb-8 pt-5 pt-md-8">
  <div class="container-fluid">
    <div class="header-body">
      <!-- Card stats -->
      <div class="row">
        <div class="col-xl-3 col-lg-6">

        </div>
        <div class="col-xl-3 col-lg-6">

        </div>
        <div class="col-xl-3 col-lg-6">

        </div>
        <div class="col-xl-3 col-lg-6">

        </div>
      </div>
    </div>
  </div>
</div>
<!-- Page content -->
<div class="container-fluid mt--7">
  <!-- Table -->
  <div class="row">
    <div class="col">
      <div class="card shadow">
        <h2 style ="text-align : center">Emploi du temps</h2>
<table>
<tr>
<th> Heure </th> <th> Lundi </th> <th> Mardi
</th>
<th>Mercredi</th>
<th>Jeudi</th>
<th>Vendredi</th>
<th>Samedi</th>
<th>Dimanche</th>
</tr>
<tr>
<td> 9h </td> <td> Classe A </td> <td>     
</td><td>Classe B</td>
<td></td>
<td></td>
<td></td>
<td></td>
</tr>
<tr>
<td> 10h </td> <td> </td> <td> Classe C
</td><td></td>
<td></td>
<td></td>
<td></td>
<td></td>

</tr>
<tr>
<td> 11h </td> <td> </td> <td> 
</td><td></td>
<td></td>
<td></td>
<td></td>
<td></td>
</tr>
<tr>
<td> 12h </td> <td class="pause"> Déjeuner </td> <td class="pause">
Déjeuner </td>
<td class="pause">
Déjeuner </td>
<td class="pause">
Déjeuner </td>
<td class="pause">
Déjeuner </td><td class="pause">
</td><td class="pause">
</td>
</tr>
<tr>
<td> 13h </td> <td> </td> <td> 
</td><td></td>
<td></td>
<td></td>
<td></td>
<td></td>
</tr>
<tr>
<tr >
<td> 14h </td> <td> Classe B</td> <td> 
</td><td></td>
<td></td>
<td></td>
<td></td>
<td></td>
</tr>
<tr >
<td> 15h </td> <td> </td> <td> Classe D
</td><td></td>
<td>Classe D</td>
<td>Classe A</td>
<td></td>
<td></td>
</tr>
<tr>
<td> 16h </td> <td > </td> <td > 
</td><td >
</td><td >
</td><td >
</td><td>
</td><td >
</td>
</tr>
</table>
        </div>
      </div>
    </div>
  </div>